/** VARIABLES **/
:root{
	--colour:#c2185b;
	--highlight:#fce4ec;
	--timing-function:cubic-bezier(.4,0,.2,1);
}

/** VIEWPORT **/
@viewport{initial-scale:1;maximum-scale:1;minimum-scale:1;user-scalable:0;width:device-width;}

/** FONTS **/
@font-face{
	font-family:Roboto;
	font-style:normal;
	font-weight:400;
	src:local("Roboto"),local("Roboto-Regular"),url(../fnt/roboto.woff2) format("woff2");
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face{
	font-family:Roboto;
	font-style:normal;
	font-weight:500;
	src:local("Roboto Medium"),local("Roboto-Medium"),url(../fnt/roboto-medium.woff2) format("woff2");
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/** NORMALISE **/
*,*::before,*::after{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background:none;
	background-clip:padding-box;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	color:#212121;
	font-family:Roboto,arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:400;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-rendering:auto;
}
*>*,*::before,*::after{
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}
*>*{
	font-style:inherit;
	font-weight:inherit;
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin:0;
}
svg{
	height:24px;
	width:24px;
}

/** PAGE **/
body{
	background:#fff;
	color:#212121;
	font-size:14px;
	min-height:100vh;
	padding:8px;
}
body.df{
	align-items:center;
	background:#e0e0e0;
	justify-content:center;
}
body.dg{
	align-content:start;
	align-items:stretch;
	font-size:12px;
	grid-gap:8px;
	grid-template-columns:repeat(auto-fill,minmax(96px,1fr));
}
body ::-webkit-scrollbar{
	width:4px;
}
body ::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0);
}
body :hover::-webkit-scrollbar-thumb{
	background:#9e9e9e;
}

/** HEADER **/
#header{
	align-items:center;
	background:var(--colour);
	box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	color:#fff;
	left:0;
	top:0;
	right:0;
	z-index:3;
}
body.dg>#header{
	grid-column:1/-1;
}
#title{
	font-size:18px;
	margin:0 32px 0 0;
	order:2;
}
#header>p{
	order:4;
}
#header>p:first-of-type{
	margin-left:auto;
	padding:0 0 0 8px;
}
#header>p>a{
	height:48px;
	width:48px;
}
#header>p>a>svg{
	fill:currentcolor;
	margin:12px;
}

/** MENU **/
#nav{
	height:100%;
	left:0;
	order:1;
	top:0;
	z-index:7;
}
#navicon{
	border-radius:50%;
	height:48px;
	transition:background .195s var(--timing-function);
	width:48px;
}
#navicon:hover{
	background:rgba(0,0,0,.07);
}
#navicon>svg{
	fill:currentcolor;
	margin:12px;
}
#menu{
	color:#212121;
	font-size:14px;
	left:0;
	line-height:48px;
	overscroll-behavior:contain;
	padding:8px 0;
	transition:left .195s var(--timing-function);
}
body.menu #menu{
	transition-duration:.225s;
}
#extras{
	border-bottom:1px solid #bdbdbd;
	padding-bottom:8px;
}
#links{
	padding-top:8px;
}
#menu a{
	padding:0 16px;
	transition:background .225s var(--timing-function),color .225s var(--timing-function);
}
#menu a:active,#menu a:focus,#menu a:hover{
	color:var(--colour);
}
#menu a:hover{
	background:#eee;
}
#menu a:active,#menu a:focus{
	background:#e0e0e0;
}
#menu a>svg{
	fill:#757575;
	margin:0 36px 0 0;
	transition:fill .225s var(--timing-function);
}
#menu a:active>svg,#menu a:focus>svg,#menu a.current>svg{
	fill:var(--colour);
	transition-duration:inherit;
}

/** TABS **/
#tabs{
	background:var(--colour);
	padding:0 36px;
	margin:0 auto;
	width:100%;
	max-width:960px;
}
#tabs>p{
	border-bottom:2px solid var(--colour);
	color:rgba(255,255,255,.7);
	line-height:44px;
	transition:border .375s var(--timing-function),color .375s var(--timing-function);
	padding:2px 12px 0;
	width:160px;
}
#tabs>p.current{
	border-color:#fff;
	color:rgba(255,255,255,1);
}

/** SECTIONS **/
section{
	background:#fff;
	border-radius:2px;
	box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	flex-wrap:wrap;
}
section>label{
	color:#757575;
	line-height:20px;
	margin:8px 0;
}
section>input,section>select,section>textarea{
	border-bottom:1px solid #bdbdbd;
	line-height:23px;
	margin:4px 0 8px;
	transition:border .195s var(--timing-function);
}
section>input,section>select{
	height:24px;
}
section>input:focus,section>select:focus{
	border-color:#757575;
}
section>input{
	padding:0 4px;
}
section>input:invalid{
	border-color:#f44336;
}
section>select{
	background:url('data:image/svg+xml;utf8,<svg fill="%23757575" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7,10L12,15L17,10H7Z"/></svg>') right -2px no-repeat;
	padding:0 24px 0 4px;
}
option:checked{
	display:none;
}
textarea::-webkit-scrollbar{
	width:4px;
}
textarea::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0);
}
textarea:hover::-webkit-scrollbar-thumb{
	background:#9e9e9e;
}
section>button{
	background:var(--colour);
	border-radius:2px;
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	color:#fff;
	line-height:36px;
	margin:16px 0 0 auto;
	padding:0 16px;
}
/*  preview  */
section#preview{
	padding:8px 16px 16px;
	width:357px;
}
#preview>label{
	width:75px;
}
#preview>input,#preview>select{
	width:calc(100% - 75px);
}
#preview>figure{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUUAAAEmBAMAAAAHOp+aAAAAKlBMVEX////u7u739/f6+vrx8fHi4uLd3d39/f329vbPz8/f39/09PTp6enY2NjMrDZ4AAACXUlEQVR42u3asUsCURzAcTPBwUXBwaEhHFJoCRze4FJgS3OOLQ3RKN3wXHXI4P6CxqApGkQXB5dWb+7/iQOFd3coN0jv9+59v0VwtHx4b/jpu1ciIqIDabPMP4OelVRCUg26b7umapQkVoNwYKVVQqLPjYeyThn7pbj6//9ZmsZgbjzUVMo4sWVsmcaXa+Oh0kkaT9e2jNGVwRjXjYeTWcp4a8t4jxEjRq+NDUsVbR0xYsSIESNzpvB7nfrOJdIYrIdfu4aREmnUlzeNXc2FFmmMz1LC7c9UjUQaU2dSMo2JMB7JKHLOOLGOel9yjOY5rtlUjcQYt+e42cpajDGY7zHWlBjj9jNFtkpHjHFc32M8mWH0y9iwVNHWESNGjBgxMmd832uMGDFiZM64u44YMWLEiJE54/teY8SIEaO3c8aFd5rmPSmzYSTn3bB5T8qsuZDzjj2+q7AKs7+S7iq4cOfDibszGDFy38y3vcaIESNG5oy764gRI0aMGJkzvu81RowYMTJn3F1HjBgxYsTInPF9rzFixIiROePuOmLEiBEjRuaM73uNESNGjMwZd9cRI0aMGDEyZ3zfa4wYMWJkzri7jhgxYsSIkTnj+15jxIgRI3PG3XXEiBEjRozMGd/3GiNGjBiZM+6uI0aMGDFiZM74vtcYMWIsnHFtyxjlNlYnD+9W+m2Nchv7Z0Mr/SzzG4NwYKWVio350kHPSkqXiIjoYHdPovuMjR/TtuQ2sfG5LbqL2PjYFh1GjJLCiFFSGDFKCiNGSWHEKCmMGCWF8Ti9xsZv0WdS3Y0jZ3t/niRZx+dg9dwAAAAASUVORK5CYII) no-repeat;
	height:294px;
	margin:0 auto;
	width:325px;
}
#preview canvas,#preview span,#preview svg{
	left:0;
	top:0;
}
#preview svg{
	height:auto;
	width:auto;
}
#preview span{
	background:#1976d2;
	bottom:0;
	mix-blend-mode:overlay;
	right:0;
	transition:background .195s var(--timing-function),opacity .195s var(--timing-function);
}
#preview p{
	color:#1976d2;
}
#preview p+p{
	transform:rotate(-90deg);
	transform-origin:0 0;
	transition:color .195s var(--timing-function),opacity .195s var(--timing-function);
}
#preview p:first-of-type{
	left:11px;
	top:269px;
	transition:color .195s var(--timing-function);
}
#preview p:nth-of-type(2){
	font-size:18px;
	left:11px;
	top:250px;
}
#preview p:last-of-type{
	left:41px;
	top:250px;
}
#preview path{
	transition:fill .195s var(--timing-function),fill-opacity .195s var(--timing-function);
}

/*  editor  */
section#editor{
	padding:0 16px 16px;
	width:320px;
}
#editor>figure{
	background:linear-gradient(45deg,#e0e0e0 25%,transparent 25%,transparent 75%,#e0e0e0 75%,#e0e0e0) 0 0 / 16px,linear-gradient(45deg,#e0e0e0 25%,transparent 25%,transparent 75%,#e0e0e0 75%,#e0e0e0) 8px 8px / 16px;
	background-color:#fff;
	border-radius:2px 2px 0 0;
	height:320px;
	margin:0 -16px 16px;
	transition:background .195s var(--timing-function);
	width:calc(100% + 32px);
	z-index:2;
}
#editor>figure.light{
	background-color:#616161;
	background-image:linear-gradient(45deg,#212121 25%,transparent 25%,transparent 75%,#212121 75%,#212121),linear-gradient(45deg,#212121 25%,transparent 25%,transparent 75%,#212121 75%,#212121);
}
#editor span{
	border:0 solid rgba(76,175,80,.54);
	transition-duration:.195s;
	transition-property:background,border,border-radius,height,opacity,width;
	transition-timing-function:var(--timing-function);
	z-index:1;
}
#editor>figure.light>span{
	border-color:rgba(3,169,244,.54);
}
#editor span:first-of-type{
	background:#fff;
	height:24px;
	max-height:320px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:24px;
	max-width:320px;
	}
#editor span:nth-of-type(2){
	border-width:1px 0;
	height:24px;
	max-height:320px;
	left:0;
	right:0;
	top:50%;
	transform:translatey(-50%);
}
#editor span:last-of-type{
	border-width:0 1px;
	bottom:0;
	left:50%;
	top:0;
	transform:translatex(-50%);
	width:24px;
	max-width:320px;
}
#editor svg{
	height:auto;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	transition-duration:.195s;
	transition-property:height,width;
	transition-timing-function:var(--timing-function);
	width:auto;
	z-index:2;
}
#editor path{
	transition-duration:.195s;
	transition-property:d,fill,fill-opacity,opacity;
	transition-timing-function:var(--timing-function);
}
canvas{
	height:100%;
	width:100%;
	z-index:3;
}
#editor>label{
	width:176px;
}
#editor>input,#editor>select{
	width:calc(100% - 176px);
}
#editor>textarea{
	height:116px;
	max-height:116px;
	resize:none;
	width:100%;
}

/** ARTICLES **/
article{
	border-radius:2px;
	color:#757575;
	transition-duration:.375s;
	transition-property:background,color;
	transition-timing-function:var(--timing-function);
	padding:8px;
	width:96px;
}
article.complete,article.ignore{
	color:#bdbdbd;
}
article:not(.complete):not(.ignore):hover{
	background:#e0e0e0;
	color:#212121;
	cursor:pointer;
}
article[class]::before{
	content:"";
	height:24px;
	left:calc(50% + 4px);
	opacity:1;
	position:absolute;
	transition:opacity .375s var(--timing-function);
	width:24px;
}
article.new:hover::before{
	opacity:0;
}
article.complete::before{
	background:url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path stroke="%23fff" stroke-width="4" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"/><path fill="%23c2185b" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"/></svg>') no-repeat;
	top:34px;
}
article.ignore::before{
	background:url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path stroke="%23fff" stroke-width="4" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/><path fill="%23212121" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/></svg>') no-repeat;
	top:36px;
}
article.new::before{
	background:url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path stroke="%23fff" stroke-width="4" d="M20,4C21.11,4 22,4.89 22,6V18C22,19.11 21.11,20 20,20H4C2.89,20 2,19.11 2,18V6C2,4.89 2.89,4 4,4H20M8.5,15V9H7.25V12.5L4.75,9H3.5V15H4.75V11.5L7.3,15H8.5M13.5,10.26V9H9.5V15H13.5V13.75H11V12.64H13.5V11.38H11V10.26H13.5M20.5,14V9H19.25V13.5H18.13V10H16.88V13.5H15.75V9H14.5V14A1,1 0 0,0 15.5,15H19.5A1,1 0 0,0 20.5,14Z"/><path fill="%23d50000" d="M20,4C21.11,4 22,4.89 22,6V18C22,19.11 21.11,20 20,20H4C2.89,20 2,19.11 2,18V6C2,4.89 2.89,4 4,4H20M8.5,15V9H7.25V12.5L4.75,9H3.5V15H4.75V11.5L7.3,15H8.5M13.5,10.26V9H9.5V15H13.5V13.75H11V12.64H13.5V11.38H11V10.26H13.5M20.5,14V9H19.25V13.5H18.13V10H16.88V13.5H15.75V9H14.5V14A1,1 0 0,0 15.5,15H19.5A1,1 0 0,0 20.5,14Z"/></svg>') no-repeat;
	top:36px;
}
article>svg{
	fill:currentcolor;
	height:48px;
	margin:0 auto 16px;
	width:48px;
}

/** TABLES **/
table{
	border-collapse:collapse;
	margin:0 auto;
	table-layout:fixed;
	width:100%;
}
table svg{
	height:18px;
	width:18px;
}
th{
	font-size:13px;
	height:56px;
	line-height:24px;
	padding:8px 44px 8px 12px;
}
th:first-child,td:first-child{
	padding-left:24px;
}
th:last-child,td:last-child{
	padding-right:24px;
}
th>svg{
	fill:currentcolor;
}
tbody>tr{
	border:1px solid #e0e0e0;
	transition:background .375s var(--timing-function);
}
tbody>tr:nth-child(odd){
	background:#eee;
}
tbody:hover>tr:nth-child(odd):not(:hover){
	background:#fff;
}
tbody>tr:hover{
	background:var(--highlight);
	transition-duration:.225s;
}
td{
	height:48px;
	line-height:24px;
	padding:8px 44px 8px 12px;
	text-overflow:ellipsis;
}
/*  issues  */
table.issues{
	max-width:960px;
}
.issues th{
	background:var(--colour);
	color:#fff;
}
.issues th:first-child,.issues td:first-child{
	text-align:right;
	width:96px;
}
.issues th:nth-child(2),.issues td:nth-child(2){
	text-align:center;
	width:74px;
}
.issues th:nth-child(4),.issues td:nth-child(4){
	width:144px;
}
.issues th:nth-child(5),.issues td:nth-child(5){
	text-align:center;
	width:80px;
}
.issues th:nth-child(6),.issues td:nth-child(6){
	text-align:center;
	width:92px;
}
.issues th:last-child,.issues td:last-child{
	text-align:center;
	width:72px;
}
.issues td>svg{
	fill:#388e3c;
}
.issues a>svg{
	fill:#757575;
	transition:fill .225s var(--timing-function);
}
.issues a:hover>svg{
	fill:#212121;
}
.issues a:active>svg,.issues a:focus>svg{
	fill:var(--colour);
}

/** BREAKPOINTS **/
/* editor
@media(max-width:336px){
	body{
		padding:72px 0 0;
	}
	section{
		min-width:100%;
	}
}
/* preview
@media(max-width:373px){
	body{
		padding:72px 0 0;
	}
	section{
		min-width:100%;
	}
}*/
@media(max-width:1299px){
	#nav{
		background:rgba(0,0,0,0);
		right:0;
		transition:background .195s var(--timing-function);
	}
	body:not(.menu) #nav{
		pointer-events:none;
	}
	body.menu #nav{
		background:rgba(0,0,0,.54);
		transition-duration:.225s;
	}
	#navicon{
		pointer-events:initial;
	}
	#menu{
		background:#fff;
		box-shadow:0 14px 28px rgba(0,0,0,0),0 10px 10px rgba(0,0,0,0);
		height:100%;
		top:0;
	}
	body.menu #menu{
		box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
	}
	#menu a:hover{
		background:#eee;
	}
	#menu a:active,#menu a:focus{
		background:#e0e0e0;
	}
}
@media(max-width:759px){
	body{
		padding-top:72px;
	}
	#header{
		height:56px;
		padding:0 8px 0 64px;
	}
	#title>span{
		display:none;
	}
	#navicon{
		left:8px;
		top:4px;
	}
	#menu{
		width:calc(100% - 56px);
		max-width:280px;
	}
	body:not(.menu) #menu{
		left:-280px;
	}
	#editor>figure,.issues th{
		top:56px;
	}
}
@media(min-width:760px){
	body{
		padding-top:80px;
	}
	#header{
		height:64px;
		padding:0 16px 0 72px;
	}
	#navicon{
		left:12px;
		top:8px;
	}
	#menu{
		width:320px;
	}
	body:not(.menu) #menu{
		left:-320px;
	}
	#editor>figure,.issues th{
		top:64px;
	}
}
@media(min-width:1300px){
	body:not(.df){
		transition:padding .225s var(--timing-function);
	}
	body:not(.df).menu{
		padding-left:336px;
	}
	#menu{
		max-height:calc(100% - 64px);
		top:64px;
	}
	body.df #menu a:hover{
		background:rgba(0,0,0,.03);
	}
	body.df #menu a:active,#menu a:focus{
		background:rgba(0,0,0,.06);
	}
}

/**  DISPLAYS  **/
.db{display:block;}
.df{display:flex;}
.dg{display:grid;}
.dib{display:inline-block;}
.dn{display:none;}
.oz{opacity:0;}
/**  LAYOUTS  **/
.vam{vertical-align:middle;}
.vat{vertical-align:top;}
/**  OVERFLOWS  **/
.oa{overflow:auto;}
.oh{overflow:hidden;}
.toe{text-overflow:ellipsis;}
/**  POSITIONS  **/
.ln{left:-9999px;}
.pa{position:absolute;}
.pf{position:fixed;}
.pr{position:relative;}
.ps{position:sticky;}
/**  TEXT  **/
.fwm{font-weight:500;}
.fwn{font-weight:400;}
.tac{text-align:center;}
.tar{text-align:right;}
.ttl{text-transform:lowercase;}
.ttu{text-transform:uppercase;}
.wsnw{white-space:nowrap;}
/**  POINTERS  **/
.ch{cursor:help;}
.cna{cursor:not-allowed;}
.cp{cursor:pointer;}
.cw{cursor:wait;}
.pen{pointer-events:none;}