/** VIEWPORT **/
@viewport{initial-scale:1;maximum-scale:1;minimum-scale:1;user-scalable:0;width:device-width;}

/** IMPORT FONTS **/
@font-face{
	font-family:Roboto;
	font-style:normal;
	font-weight:300;
	src:local("Roboto Light"),local("Roboto-Light"),url(fnt/roboto-light.woff2) format("woff2");
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215;
}
@font-face{
	font-family:Roboto;
	font-style:normal;
	font-weight:400;
	src:local("Roboto"),local("Roboto-Regular"),url(fnt/roboto-regular.woff2) format("woff2");
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215;
}
@font-face{
	font-family:Roboto;
	font-style:normal;
	font-weight:500;
	src:local("Roboto Medium"),local("Roboto-Medium"),url(fnt/roboto-medium.woff2) format("woff2");
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215;
}
@font-face{
	font-family:mdi;
	src:url(fnt/mdi2046.woff2) format("woff2");
	font-weight:normal;
	font-style:normal;
}

/** NORMALISE **/
*,*::before,*::after{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background:none;
	background-clip:padding-box;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	color:#212121;
	font-family:Roboto,arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:400;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-rendering:auto;
}
*>*,*::before,*::after{
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}
*>*{
	font-style:inherit;
	font-weight:inherit;
}
::-webkit-scrollbar{
	width:4px;
}
::-webkit-scrollbar-track{
	background:#eee;
}
::-webkit-scrollbar-thumb{
	background:#9e9e9e;
}
[data-icon]::before{
	content:attr(data-icon);
	display:inline-block;
	text-align:center;
}

/** PAGE **/
body{
	background:#e0e0e0;
	font-size:14px;
	padding-top:64px;
	user-select:none;
}

/** HEADER **/
#header{
	align-items:center;
	background:#2196f3;
	box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	color:#fff;
	height:64px;
	left:0;
	padding:0 16px 0 72px;
	top:0;
	right:0;
	z-index:3;
}
#title{
	flex:1 1 auto;
	font-size:18px;
	order:2;
}

/** MENU **/
#nav{
	background:rgba(0,0,0,0);
	height:100vh;
	left:0;
	order:1;
	top:0;
	transition:background .195s cubic-bezier(.4,0,.2,1);
	z-index:7;
}
#navicon{
	left:12px;
	line-height:48px;
	pointer-events:initial;
	width:48px;
	top:8px;
}
#navicon::before{
	content:"\f35c";
	display:inline-block;
	font-family:mdi;
	font-size:24px;
	text-align:center;
	vertical-align:top;
	width:100%;
}
#menu{
	background:#fff;
	box-shadow:0 14px 28px rgba(0,0,0,0),0 10px 10px rgba(0,0,0,0);
	color:#212121;
	font-size:14px;
	height:100vh;
	left:0;
	line-height:48px;
	top:0;
	transition:left .225s cubic-bezier(.4,0,.2,1);
	width:calc(100% - 56px);
	max-width:320px;
}
/*  header  */
#card{
	background:url(img/menu.jpg) 0 bottom no-repeat;
	height:180px;
	margin:0 0 8px;
}
#card>h3{
	align-items:center;
	background:#2196f3;
	border-radius:50%;
	height:72px;
	justify-content:center;
	left:16px;
	padding:8px;
	top:50%;
	transform:translatey(-50%) translatey(-28px);
	width:72px;
}
#card>p{
	color:#fff;
	bottom:8px;
	left:16px;
	line-height:20px;
	width:calc(100% - 32px);
}
#card>p:first-of-type{
	bottom:28px;
}
/*  lists  */
#menu>h3{
	color:#757575;
	line-height:48px;
	padding:0 16px;
}
#menu>h3::before{
	content:"\f35f";
	display:inine-block;
	float:right;
	font-family:mdi;
	font-size:24px;
	margin:0 0 0 8px;
	transition:transform .195s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:24px;
}
#menu>h3.open::before{
	transform:rotate(90deg);
}
#menu>p,#menu>ol,#sections>li:nth-child(3):nth-last-child(6),#sections>li:nth-child(3):nth-last-child(2){
	border-bottom:1px solid #e0e0e0;
}
#menu>h3:not(.open)+ol{
	height:0;
}
#menu>p,#menu>ol>li{
	padding:0 16px;
	transition:background .225s cubic-bezier(.4,0,.2,1),color .225s cubic-bezier(.4,0,.2,1);
}
#menu>p:focus,#menu>p:hover,#menu>ol>li:focus,#menu>ol>li:hover{
	background:#e0e0e0;
	color:#2196f3;
}
#menu>p::before,#menu>ol>li[data-icon]::before{
	color:#757575;
	content:attr(data-icon);
	display:inine-block;
	font-family:mdi;
	font-size:24px;
	margin:0 36px 0 0;
	transition:color .225s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:24px;
}
#menu>p:focus::before,#menu>ol>li[data-icon]:focus::before{
	color:#2196f3;
	transition-duration:inherit;
}
#contributors>li>img{
	border-radius:50%;
	margin:0 36px 0 0;
}
#categories>li::after,#contributors>li::after{
	color:#2196f3;
	content:"\f12c";
	display:inine-block;
	float:right;
	font-family:mdi;
	font-size:24px;
	margin:0 0 0 8px;
	opacity:0;
	transition:opacity .225s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:24px;
}
#categories>li.active::after,#contributors>li.active::after{
	opacity:1;
	transition-duration:inherit;
}
/*  links  */
#links a{
	padding:0 16px;
	transition:background .225s cubic-bezier(.4,0,.2,1),color .225s cubic-bezier(.4,0,.2,1);
}
#links a:active,#links a:focus,#links a:hover{
	background:#e0e0e0;
	color:#2196f3;
}
#links a::before{
	color:#757575;
	content:attr(data-icon);
	display:inine-block;
	font-family:mdi;
	font-size:24px;
	margin:0 36px 0 0;
	transition:color .225s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:24px;
}
#links a:active::before,#links a:focus::before{
	color:#2196f3;
	transition-duration:inherit;
}

/** SEARCH **/
#search{
	flex:1 1 auto;
	margin-left:auto;
	order:3;
	text-align:right;
}
#search>label::before,#clear::before{
	font-family:mdi;
	vertical-align:top;
	width:100%;
}
#search>label{
	font-size:24px;
	line-height:40px;
	overflow:hidden;
	white-space:nowrap;
	width:40px;
	z-index:1;
}
#filter{
	border-bottom:1px solid transparent;
	line-height:39px;
	height:40px;
	margin:0 -40px;
	padding-left:40px;
	transition-delay:.2s,0,.2s;
	transition-duration:.2s;
	transition-property:border,margin,max-width;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	width:100%;
	max-width:40px;
	z-index:2;
}
#filter::-webkit-input-placeholder{
	color:rgba(255,255,255,.54);
	text-transform:initial;
}
#filter::placeholder{
	color:rgba(255,255,255,.54);
	text-transform:initial;
}
#filter::-webkit-search-cancel-button{
	-webkit-appearance:none;
	appearance:none;
}
#filter:focus,#filter:not(:placeholder-shown){
	border-color:#fff;
	cursor:initial;
	margin-right:0;
	max-width:calc(100% - 40px);
	transition-delay:0,.2s,.2s;
}
#clear{
	border-bottom:1px solid transparent;
	font-size:24px;
	line-height:39px;
	padding-left:40px;
	transition-delay:.2s,0;
	transition-property:border,padding;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	width:40px;
	z-index:1;
}
#filter:focus+#clear,#filter:not(:placeholder-shown)+#clear{
	border-color:#fff;
	padding:0;
	z-index:3;
}

/** CONTENT **/
#content{
	height:calc(100vh - 64px);
	transition:opacity .375s cubic-bezier(.4,0,.2,1);
}
body.mdi>#content{
	padding:0 0 80px;
}
#content>section{
	align-content:start;
	align-items:start;
	grid-gap:8px;
	grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
	padding:0 8px 8px;
}
body.mdi #icons[data-filtered=true]{
	min-height:calc(100vh - 144px);
}
body.mdil #icons[data-filtered=true]{
	min-height:calc(100vh - 64px);
}
#content>section>h2{
	background:#2196f3;
	color:#fff;
	font-size:20px;
	grid-column-start:1;
	grid-column-end:-1;
	line-height:48px;
	margin:0 -8px;
	padding:0 16px;
	top:0;
	z-index:2;
}
#content>section:not(:first-child)>h2::before{
	content:"\f337";
	cursor:pointer;
	font-family:mdi;
	float:right;
	font-size:24px;
	pointer-events:initial;
	text-align:right;
	transition:opacity .195s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:48px;
}
#content>section>h2:only-child::after{
	background:#e0e0e0;
	color:#212121;
	content:"No icons available in this section.";
	display:block;
	font-size:14px;
	font-weight:500;
	line-height:48px;
	margin:0 -16px -8px;
	padding:8px 12px;
	position:relative;
	z-index:2;
}
#content>section>article{
	background:#fff;
	border-radius:2px;
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	line-height:48px;
	padding:0 8px 0 0;
	transition-duration:.375s;
	transition-property:background,color;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	z-index:1;
}
#content>section>article::before{
	color:#757575;
	font-family:mdi;
	font-size:24px;
	transition:color .225s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:48px;
	z-index:2;
}
body.mdi>#content>section>article::before{
	font-family:mdi;
}
body.mdil>#content>section>article::before{
	font-family:mdil;
}
#content>section>article>img{
	margin:0 20px 0 12px;
	opacity:.54;
	transition:filter .225s cubic-bezier(.4,0,.2,1),opacity .225s cubic-bezier(.4,0,.2,1);
	z-index:1;
}
#content>section>article:hover,#content>section>article.active{
	background:#ff5722;
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	color:#fff;
}
#content>section>article:hover::before,#content>section>article.active::before{
	color:#fff;
}
#content>section>article:hover>img,#content>section>article.active>img{
	filter:invert(1);
	opacity:1;
}
#icons>p:last-of-type{
	line-height:48px;
	margin:0 12px;
	width:100%;
}
.ripple{
	animation:ripple 1.5s cubic-bezier(.4,0,.2,1);
	background:#fff;
	border-radius:50%;
	opacity:0;
}
@keyframes ripple{
	from{
		transform:translate(-50%,-50%) scale(.5);
		opacity:.26;
	}to{
		transform:translate(-50%,-50%) scale(54);
		opacity:0;
	}
}

/** SIDEBAR **/
#info{
	z-index:4;
}
#info>header,#actions{
	right:0;
	transition:right .225s cubic-bezier(.4,0,.2,1);
	width:calc(100% - 56px);
	max-width:320px;
}
#info>header{
	background:#ff5722;
	color:#fff;
	height:180px;
	top:0;
	z-index:3;
}
#name{
	font-size:18px;
	line-height:64px;
	padding:0 16px;
}
/*  preview */
#preview{
	align-items:center;
	font-size:56px;
	justify-content:center;
	height:116px;
	margin-top:-10px;
	padding:0 16px;
	transition:font .195s cubic-bezier(.4,0,.2,1),opacity .195s cubic-bezier(.4,0,.2,1);
	width:calc(100% - 36px);
}
#preview>img{
	filter:invert(1);
	height:56px;
	top:50%;
	transform:translatey(-50%);
	transition:opacity .195s cubic-bezier(.4,0,.2,1);
	width:56px;
}
#slider{
	top:64px;
	right:24px;
	transform:rotate(270deg);
	transform-origin:100% 100%;
	width:98px;
}
#slider::-webkit-slider-runnable-track{
	background:#fff;
	height:2px;
	transition:background .225s cubic-bezier(.4,0,.2,1);
}
#slider::-webkit-slider-thumb{
	-webkit-appearance:none;
	appearance:none;
	background-color:#fff;
	border:1px solid #ff5722;
	border-radius:50%;
	height:18px;
	margin:-8px 0 0;
	position:relative;
	transition:background .25s linear;
	width:18px;
}
#slider:focus::-webkit-slider-thumb{
	background:#2196f3;
}
/*  actions  */
#actions{
	background:#fff;
	height:calc(100% - 180px);
	line-height:48px;
	padding:8px 0 88px;
	top:180px;
	z-index:2;
}
#actions>li{
	padding:0 16px;
	transition:background .225s cubic-bezier(.4,0,.2,1),color .225s cubic-bezier(.4,0,.2,1);
}
#info>#actions>li:not([data-confirm]):not([data-url]):focus,#info>#actions>li:not([data-confirm]):not([data-url]):hover,
#info:not([data-nocopy=true])>#actions>li[data-copy]:focus,#info:not([data-nocopy=true])>#actions>li[data-copy]:hover,
#info:not([data-nodownload=true])>#actions>li[data-copy]:nth-of-type(5):focus,#info:not([data-nodownload=true])>#actions>li[data-copy]:nth-of-type(5):hover,
#actions>li[data-copy]:nth-last-of-type(2):focus,#actions>li[data-copy]:nth-last-of-type(2):hover,
#info:not([data-nodownload=true])>#actions>li[data-type]:focus,#info:not([data-nodownload=true])>#actions>li[data-type]:hover,
#info:not([data-retired=true])>#actions>li[data-url]:focus,#info:not([data-retired=true])>#actions>li[data-url]:hover{
	background:#e0e0e0;
	color:#ff5722;
}
#info[data-nocopy=true]>#actions>li[data-copy]:not(:nth-of-type(5)):not(:nth-last-of-type(2)),
#info[data-nodownload=true]>#actions>li[data-type],
#info[data-nodownload=true]>#actions>li[data-copy]:nth-of-type(5),
#info[data-retired=true]>#actions>li[data-url]{
	color:#9e9e9e;
	cursor:not-allowed;
}
#actions>li::before{
	color:#757575;
	content:attr(data-icon);
	display:inine-block;
	font-family:mdi;
	font-size:24px;
	margin:0 16px 0 0;
	transition:color .225s cubic-bezier(.4,0,.2,1);
	vertical-align:middle;
	width:24px;
}
#info[data-nocopy=true]>#actions>li[data-copy]:not(:nth-of-type(5)):not(:nth-last-of-type(2))::before,
#info[data-nodownload=true]>#actions>li[data-type]::before,
#info[data-nodownload=true]>#actions>li[data-copy]:nth-of-type(5)::before,
#info[data-retired=true]>#actions>li[data-url]::before{
	color:#bdbdbd;
}
#actions>li:focus::before{
	color:#ff5722;
	transition-duration:inherit;
}
#actions>li:nth-last-child(13),#actions>li:nth-last-child(10),#actions>li:nth-last-child(2){
	border-bottom:1px solid #e0e0e0;
}

/** FOOTER **/
#message{
	background:#323232;
	color:#fff;
	line-height:48px;
	padding:0 24px;
	z-index:5;
	min-width:288px;
}
#fab{
	bottom:24px;
	right:24px;
	z-index:2;
}
#fab>a{
	background:#2196f3;
	border-radius:50%;
	box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
	color:#fff;
	font-size:24px;
	line-height:56px;
	width:56px;
}
#fab>a::before{
	content:attr(data-icon);
	display:inline-block;
	font-family:mdi;
	width:100%;
}
#load{
	bottom:0;
	top:64px;
	left:0;
	padding:8px;
	right:0;
	transition:opacity .375s cubic-bezier(.4,0,.2,1);
	z-index:2;
}
#load g{
	animation:rotate 1.4s linear infinite;
	transform-origin:center;
}
#load circle{
	animation:spin 1.4s ease-in-out infinite,colors 5.6s ease-in-out infinite;
	fill:none;
	stroke:#2196f3;
	stroke-dasharray:100;
	stroke-dashoffset:0;
	stroke-linecap:square;
	stroke-width:4;
	transform-origin:center;
}
@keyframes rotate{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(270deg);}
}
@keyframes spin{
	0%{stroke-dashoffset:100;}
	50%{stroke-dashoffset:20;transform:rotate(135deg);}
	100%{stroke-dashoffset:100;transform:rotate(450deg);}
}
@keyframes colors{
	0%{stroke:#4285f4;}
	25%{stroke:#de3e35;}
	50%{stroke:#f7C223;}
	75%{stroke:#1b9a59;}
	100%{stroke:#4285f4;}
}
/**  BREAKPOINTS  **/
@media(max-width:1499px){
	#nav{
		right:0;
	}
	#nav:not([data-show=true]){
		pointer-events:none;
	}
	#nav[data-show=true]{
		background:rgba(0,0,0,.54);
		transition-delay:0s;
		transition-duration:.225s;
	}
	#nav[data-show=true]>#menu{
		box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
	}
	#nav:not([data-show=true])>#menu{
		left:-320px;
		transition-duration:.195s;
	}
	#info:not([data-show=true]){
		pointer-events:none;
	}
	#info::before{
		background:rgba(0,0,0,0);
		bottom:0;
		content:"";
		left:0;
		position:fixed;
		right:0;
		top:0;
		z-index:1;
	}
	#info[data-show=true]::before{
		background:rgba(0,0,0,.54);
		transition-delay:0s;
		transition-duration:.225s;
	}
	#info:not([data-show=true])>header,#info:not([data-show=true])>#actions{
		right:-320px;
		transition-duration:.195s;
	}
	#name{
		padding:0 16px 0 0;
	}
	#name::before{
		content:"\f04d";
		cursor:pointer;
		display:inline-block;
		font-family:mdi;
		font-size:24px;
		pointer-events:initial;
		text-align:center;
		transition:transform .225s cubic-bezier(.4,0,.2,1);
		vertical-align:top;
		width:48px;
	}
	#info[data-show=true] #name::before{
		transform:rotatey(180deg);
	}
}
@media(max-width:759px){
	body{
		padding-top:56px;
	}
	#header{
		height:56px;
	}
	#title>span{
		display:none;
	}
	#menu{
		max-width:280px;
	}
	#nav:not([data-show=true])>#menu{
		left:-280px;
	}
	#navicon{
		top:4px;
	}
	#card{
		height:158px;
	}
	body.mdi #icons[data-filtered=true]{
		min-height:calc(100vh - 136px);
	}
	body.mdil #icons[data-filtered=true]{
		min-height:calc(100vh - 56px);
	}
	#info>header,#actions{
		max-width:280px;
	}
	#info>header{
		height:158px;
	}
	#name{
		line-height:56px;
	}
	#preview{
		margin-top:-14px;
	}
	#slider{
		top:56px;
		width:84px;
	}
	#actions{
		height:calc(100% - 158px);
		top:158px;
	}
	#info:not([data-show=true])>header,#info:not([data-show=true])>#actions{
		right:-280px;
	}
	#message{
		bottom:0;
		left:0;
		right:0;
		transition:bottom .375s cubic-bezier(.4,0,.2,1),opacity .375s cubic-bezier(.4,0,.2,1);
	}
	#message.oz{
		bottom:-48px;
	}
	#message+#fab{
		transition:bottom .375s cubic-bezier(.4,0,.2,1);
	}
	#message:not(.oz)+#fab{
		bottom:72px;
	}
	#load{
		top:56px;
	}
}
@media(max-width:520px){
	#title{
		display:none;
	}
}
@media(min-width:760px){
	#message{
		box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
		border-radius:2px;
		bottom:28px;
		left:50%;
		transform:translatex(-50%);
		transition:opacity .375s cubic-bezier(.4,0,.2,1);
		max-width:568px;
	}
}
@media(min-width:1500px){
	#header{
		left:320px;
		padding:0 16px 0 16px;
		right:0px;
	}
	#navicon{
		opacity:0;
		pointer-events:none;
	}
	#menu{
		border-right:1px solid #bdbdbd;
	}
	#content{
		margin-left:320px;
		margin-right:320px;
	}
	#icons>p:first-of-type{
		right:324px;
	}
	#info{
		z-index:2;
	}
	#info>header{
		top:64px;
	}
	#actions{
		border-left:1px solid #bdbdbd;
		height:calc(100% - 244px);
		top:244px;
	}
	#fab{
		right:344px;
	}
}

/**  DISPLAYS  **/
.db{display:block;}
.df{display:flex;}
.dg{display:grid;}
.dib{display:inline-block;}
.dn{display:none;}
.oz{opacity:0;}
/**  LAYOUTS  **/
.vam{vertical-align:middle;}
.vat{vertical-align:top;}
/**  OVERFLOWS  **/
.oa{overflow:auto;}
.oh{overflow:hidden;}
.toe{text-overflow:ellipsis;}
/**  POSITIONS  **/
.ln{left:-9999px;}
.pa{position:absolute;}
.pf{position:fixed;}
.pr{position:relative;}
.ps{position:sticky;}
/**  TEXT  **/
.ffmd{font-family:mdi;}
.ffmdl{font-family:mdil;}
.fwl{font-weight:300;}
.fwm{font-weight:500;}
.fwn{font-weight:400;}
.tac{text-align:center;}
.ttl{text-transform:lowercase;}
.wsnw{white-space:nowrap;}
/**  POINTERS  **/
.ch{cursor:help;}
.cna{cursor:not-allowed;}
.cp{cursor:pointer;}
.cw{cursor:wait;}
.pen{pointer-events:none;}